.moviesContainer {
  width: 100%;
  max-width: 1170px;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.moviesTitle {
  color: #045eb7;
  font-weight: bold;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.pagination {
  width: 100%;
  max-width: 700px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.paginationPages {
  color: #045eb7;
  font-weight: bold;
  list-style: none;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.paginationBreak {
  color: #045eb7;
}

.paginationBtn {
  cursor: pointer;
  padding: 10px 15px;
  box-shadow: 0 0 5px 0 #0082ff;
  border-radius: 5px;
  color: #045eb7;
  font-weight: bold;
}
.active {
  color: #30abf7;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #0082ff;
  color: #0082ff;
}
