.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  max-width: 600px;
  background-color: #30abf7;
  border-radius: 20px;
}

.formTitle {
  color: #045eb7;
  margin-bottom: 20px;
  text-transform: uppercase;
}
